*{
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #1F1E1E;
}


body{
  background-color: #1F1E1E;
  
}

#root {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
}
.latar-belakang{
  background-color: black;
  position: relative;
  height: 152.778vw;
  display: flex;
  width: 83.333vw;
  justify-content: center;
  align-items: center;
  
}

.kotak-rezeki{
  width: 52.083vw;
  height: 33.438vw;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding-right: 1.719vw;
  padding-left: 4.688vw;
}

.judul{
  font-size: 1.042vw;
  font-weight: bold;
  color: #86868B;
  margin-top: 5.573vw;
}

.judul2{
  font-size: 2.188vw;
  font-weight: bold;
  margin-top: 0.781vw;
}

.text{
  font-weight: bold;
  color: #86868B;
  font-size: 0.938vw;
  margin-top: 1.146vw;
}

.kotak-kanan2{
  /* width: 20.573vw;
  height: 29.479vw; */
  /* margin-top: 3.958vw; */
  position: absolute;
  bottom: 0;
  right: 7.5vw;
}

.pc{
  display: block;
}

.mb{
 width: 83.333vw;
 height: 152.778vw;
}

.mb{
  display: none;
}

@media (max-width: 720px) {
.pc{
  display: none
  
}
.mb{
  display: block;
}
}


 .kotak-kanan2{
  width: 54.861vw;
  height: 60.611vw;

}


.mb .judul{
  width:24.861vw;
  height: 3.333vw;
}

.mb .judul2{
  width: 47.083vw;
  height: 14.167vw;
}

.mb .text{
  width: 64.861vw;
  height: 21.389vw;
}


.mb .text{
  font-size: 2.5vw;
}

.mb .judul{
font-size: 2.778vw;
}

.mb .judul2{
  font-size: 5.833vw;
}

  
